<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentInformation.Properties.Settings.StudentReportDBConnectionString"
            connectionString="Data Source=DESKTOP-AFNLQ1I;Initial Catalog=StudentReportDB;User ID=sa;Password=Bahaberke12."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>